<div class="card">
  <div class="card-header">{{ dayLabel }} - {{ calorieBudget }} Calories</div>
  <div class="card-block">
    <div class="card-title">Calories Remaining: {{ caloriesRemaining }}</div>
    <div class="card-text">
      Calories Consumed: {{ caloriesConsumed }}
    </div>
  </div>
  <div class="card-footer">
    <div class="clr-row clr-align-items-start"> 
      <div class="clr-align-self-center clr-col-4">
        <button class="btn btn-primary" (click)="update()">Update</button>
      </div>
      <div class="clr-align-self-start clr-col-8">
        <input clrInput placeholder="e.g. 1500" name="calories" [(ngModel)]="caloriesConsumedInput" />
      </div>
    </div>
  </div>
</div>
